body { background-image: url(../images/lined-paper.jpg) }

.jquery-notebook.bubble button {
  /*This style fixes a problem with the notebook editor and bootstrap. Please do not touch!*/
margin-top:0
}

#editor_box {
  margin: auto;
  margin-top: 40px;
  width: 80%;
  min-height: 500px;
}

p {
  font-size:22px;
  line-height: 1.5;
  font-family: "Times New Roman", Georgia, Serif;
}

.comment_bar {
  display: none;
  float: right;
}

.comment_bar p {
  font-size:12px;
  margin-bottom: 0;

}

.paragraph_body {
  display: inline-block;
  cursor: default;
}

.comment_user {
  font-size:10px;
  text-align:right;
}

.comment_form {
  display:none;
}

#re{font-size: 250%;
  font-family: "Lucida Handwriting", cursive;
}

#remarks{font-size: 250%;
  font-family: "Lucida Handwriting", cursive;
  color: #CC0000;
}

.width-fix {max-width:1100px;}

.top-buffer { margin-top:20px; }

.top-buffer-main { margin-top:20px; }

.main-box{
  height: 400px;
  background-color: black;
}

#feature_box{
  height: 190px;
  background-color: black;
  color: white;
  padding: 5%;

}

#footer-fix{ height: 30px }

h2{
    margin: 0;     
    color: #666;
    padding-top: 60px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 400px !important;
}
