.jquery-notebook.bubble button {
  /*This style fixes a problem with the notebook editor and bootstrap. Please do not touch!*/
margin-top:0
}

#editor_box {
  margin: auto;
  margin-top: 40px;
  width: 80%;
  min-height: 500px;
}

p {
  font-size:22px;
  line-height: 1.5;
  font-family: "Times New Roman", Georgia, Serif;
}

.comment_bar p {
  margin-bottom: 0;
}

.col-xs-4 {
  display: inline-block;
  float: right;
}

.col-xs-4 p {
  font-size:18px;
}

.col-xs-8 {
  display: inline-block;
}

.comment_user {
  font-size:14px;
  text-align:right;
}

#add_comment {
  float:left;
}


#main_box{
  height: 200px;

  background-color: black;

}

#feature_box{
  height: 100px;

  background-color: black;

}
