body { 
  background-image: url(../images/lined-paper.jpg);
  
}

.jquery-notebook.bubble button {
  /*This style fixes a problem with the notebook editor and bootstrap. Please do not touch!*/
margin-top:0
}

#editor_box {
  margin: auto;
  margin-top: 40px;
  width: 80%;
  min-height: 200px;
}

h1 {
  text-align: left;
  font-weight: bold;
  font-family: kotta-one, serif;
  /*font-family: Century Gothic, sans-serif !important;*/
}

a {
  color:inherit;
}

a:hover{
  text-decoration:none;
  color:black;
}

p {
  font-size:22px;
  line-height: 1.5;
  text-align: justify;
  font-family: "Times New Roman", Georgia, Serif;
}

.right-post-info {
  padding-right: 2px;
  padding-top: 5px;
}

.right-post-info p {
  text-align: right;
}

.left-post-info {
  text-align: left;
  padding-left: 2px;
  padding-top: 5px;
}

.left-post-info p {
  text-align: left;
}


.form_control {
  margin-top: 10px;
}

#form-box {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
}

#document-page-box {
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
}

#create-page-submit-button {
  margin-bottom: 30px;
  margin-left: 120px;
}
.default-box {
  border-style:solid;
  border-width:1px;
  background:white;
  box-shadow: 2px 2px 10px #888888;
}

.document_title{
  padding-bottom: 10px;
}

#document_page_author {
  font-size: 12;
}

.comment_bar {
  display: none;
  float: right;
  border: 2px;
  border-left: solid rgb(190,190,190);
  border-width: 1px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.description p {
  font-size:12px;
}

.comment_bar p {
  font-size:12px;
  margin-bottom: 0;
}

.btn {
  padding-top: 5px;
}

#comment-submit-textbox {
  margin-top:4px;
  margin-bottom:4px;
}
.paragraph_body {
  display: inline-block;
  cursor: default;
  padding-right: 25px;
  padding-left:5px;
}

.comment_user {
  font-size:10px;
  text-align:right;
}

.comment_form {
  display:none;
}

#re{font-size: 250%;
  font-family: kotta-one, serif;
}

#remarks{font-size: 250%;
  font-family: "Lucida Handwriting", cursive;
  color: #CC0000;
}

/*.width-fix {max-width:1100px;}*/

.top-buffer { margin-top:20px; }

.top-buffer-main { margin-top:20px; }

.main-box{
  height: 400px;
  background-color: black;
}

.feature_box{
  height: 190px;
  padding: 5%;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

.document-view-box {
  min-height: 150px;
  margin-bottom: 40px;
}

.document-view-box h1 {
  font-size: 3.5em;
  text-align: center;
}

.document-view-box p {
  padding: 3%;
  font-size: 1.2em;
}

#footer-fix{ height: 30px }

.item h2{
    margin: 0;     
    color: #666;
    padding-top: 60px;
    font-size: 52px;
    font-family: kotta-one, serif; 

}

.item p{
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;  
    font-style: italic;

}

.item h3{
    font-family: kotta-one, serif; 
    font-weight: bold;
    font-size: xx-large;

}

.item{
    background: #333;    
    text-align: center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    height: 400px !important;
}

.title{
        font-family: kotta-one, serif;
        font-weight: bold;
        font-size: x-large;
        margin:-10px 0 -5px 0;
        /*white-space: nowrap;*/
        width: 100%;
}
.author{
        font-family: kotta-one, serif;
        /*font-style: italic;*/
        font-size: large;
        margin:-10px 0 5 0;
      }
.desc{
      font-family: "Optima", Sans-Serif;
      font-size: small;
}

#carousel-1{
            background-image: url(http://cdn.bulbagarden.net/upload/thumb/0/0d/025Pikachu.png/250px-025Pikachu.png)
}

#carousel-2{
            background-image: url(http://cdn.bulbagarden.net/upload/thumb/3/39/007Squirtle.png/250px-007Squirtle.png)
}

#carousel-3{
            background-image: url(http://upload.wikimedia.org/wikipedia/en/a/aa/Pok%C3%A9mon_Meowth_art.png)
}

.nav-font {
        font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
        font-size: large;
        font-weight: bold;

}
