Specific Documents Page.

<div class="container">
  <div class="col-md-11 col-md-offset-0.5">
      <% @document.paragraphs.each do |paragraph| %>
        
        <div class="row"><div class="col-xs-8"><%= paragraph.body %></div>
        <div class="col-xs-4"><% paragraph.comments.each do |comment| %>
          <%= comment.content %>
        <% end %></div></div>
      <% end %> 
  </div>
</div>