
<div class="container">

<div class="row">
  <div class="label label-default col-md-8" id="main_box">
    <p>Big box</p>
  </div>

  <div class="col-md-4">
    <div class="row" id="feature_box">1</div>
    <div class="row" id="feature_box">2</div>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="label label-default col-md-4" id="feature_box">
    <p>Feature box</p>
  </div>
  <div class="label label-default col-md-4" id="feature_box">
    <p>Feature box</p>
  </div>
  <div class="label label-default col-md-4" id="feature_box">
    <p>Feature box</p>
  </div> -->
</div>